[github]
  user = adeonhy
[user]
	name = Naoya Matsuyama
	email = adeonhy@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = vi
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
  ui = auto
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[alias]
  # Open files
  open = "!vim $(git diff --name-only)"
  opena = "!vim  $(git diff --staged --name-only)"
